.venv/
__pycache__/
*.pyc

.env
*.log

yandex_liked_tracks.txt
spotify_import_result/
spotify_import_test_result/

.spotify_token_cache
spotify_search_cache.json
state.json

matches.csv
needs_review.csv
not_found.csv
matched_uris.txt
